[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pydocstyle = "*"
autopep8 = "*"
requests = "*"

[packages]
flask = "*"
sqlalchemy = "*"
psycopg2 = "*"
flask-session = "*"
gunicorn = "*"
python-dotenv = "*"
werkzeug = "==0.16.0"
requests = "*"

[requires]
python_version = "3.6"
